/*generali*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Whitney-Medium, sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 30px;
}

.debug *{
    border: 1px solid red;
    padding: 5px;
}

h1 {
    font-size: 3em;
    line-height: 70px;
}

h2 {
    font-size: 1.5em;
    line-height: 70px;
}

/* header */

#top {
    background-color: #255EE9;
    text-align: center;
    font-size: 16px;
}

#top > .container {
    width: 80%;
    min-width: 1000px;
    max-width: 1300px;
    padding: 30px;
    margin: auto;
    display: flex;
}

#top .logo, #top nav, #top .accedi {
    display: inline-block;
}

#top .logo {
    height: 35px;
}

#top nav {
    margin: auto;
}

#top nav > ul {
    list-style: none;
}

#top nav > ul > li {
    display: inline-block;
    margin: auto 25px;
}

#top nav > ul > li > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

#top .accedi {
    display: block;
    padding: 10px 20px;
    background-color: #FFF;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    transition: 0.3s;
}

#intro {
    background-color: #255EE9;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFF;
}

#intro .container {
    width: 50%;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
    padding: 100px 0;
}

#intro h1, #intro p {
    margin-bottom: 50px;
}

#intro .discord-download, #intro .discord-browser {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

#intro .discord-download {
    background-color: #FFF;
    color: #000;
}

#intro .discord-browser {
    background-color: #23272A;
    color: #FFF;
}


